# ===============================
# Maven
# ===============================
target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE - Eclipse
# ===============================
.project
.classpath
.factorypath
.settings/

# ===============================
# IDE - IntelliJ
# ===============================
.idea/
*.iml

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Build files
# ===============================
*.jar
*.war

# ===============================
# Temporary files
# ===============================
*.tmp
*.swp

# ===============================
# Application secrets (IMPORTANT)
# ===============================
application.properties
application.yml